alembic==1.14.1
colorama==0.4.4
cryptography==3.4.8
dnspython==2.7.0
email_validator==2.2.0
exceptiongroup==1.2.2
Flask==3.0.2
Flask-Bcrypt==1.0.1
Flask-Limiter==3.5.0
Flask-Login==0.6.3
Flask-Migrate==4.0.5
Flask-SocketIO==5.5.1
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
greenlet==3.1.1
gunicorn==23.0.0
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.5
limits==4.0.1
MarkupSafe==3.0.2
python-dotenv==1.0.0
python-engineio==4.11.2
python-socketio==5.12.1
requests==2.32.3
six==1.16.0
SQLAlchemy==2.0.38
sqlparse==0.5.3
typing_extensions==4.12.2
Werkzeug==3.0.6
WTForms==3.1.2
